<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Purchase Car</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Purchase Car</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Purchase Car</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <a href="{% url 'car_list' %}">Back to Car List</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <title>Purchase Car</title>
</head>
<body>
    <h1>Purchase Car</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
        <button type="submit">Purchase Car</button>
    </form>
    <br>
    <a href="{% url 'car_list' %}">Back to Car List</a>
</body>
</html>
